.login-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.login-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00385e;
  padding: 30px;
  box-shadow: inset -2px 0 8px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-right {
  flex: 1;
  background-color: #00395e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  color: #ffffff;
}

.login-right form {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}




.login-heading {
  font-family: 'Times New Roman';
  font-size: 38px;
  font-weight: 700;
  color: #00385e;
  margin-bottom: 15px;
}


h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  color: #555;
  margin-bottom: 30px;
}

a {
  color: #00385e;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  display: block;
  text-align: center;
  transition: color 0.3s ease;
}

a:hover {
  color: #00385e;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  transition: all 0.3s ease;
  font-size: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #00385e;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 47, 83, 0.4);
}

.password-group {
  position: relative;
}

.password-group i {
  position: absolute;
  right: 10px;
  top: 40%;
  color: #777;
}
.login-actions {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.btn-login {
  width: 170%;
  max-width: 350px;
  padding: 16px;
  background-color: #00385e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  display: block;
}

.btn-login:hover {
  background-color: #004c80;
  transform: translateY(-2px);
}

.login-links {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}




.alert-danger {
  background-color: transparent !important;
  border: none !important;
  color: rgb(203, 17, 17) !important;
  padding: 0 !important;
  margin: 10px 0 !important;
}
