<div id="formContainer">

    <form [formGroup]="EditUnitForm" (ngSubmit)="UpdateUnit()" enctype="multipart/form-data">
        <div id="mainFormContent">
            <div class="halfFormSide">
               <div id="radioInput" class=" mb-3">
                <label for="status">Status</label>
                <label for="" class="labelRadio">
                <input formControlName="status" type="radio"  value="empty">
                    Empty
                </label>
                <label for="" class="labelRadio">
                <input formControlName="status" type="radio"  value="busy">
                    Busy
                </label>
                </div>

            <div class="singleInputDiv">
                <label>Description</label>
                <input formControlName="description" type="text" placeholder="description" class="form-control mb-3">
            </div>

            <div class="singleInputDiv">
                <label>Type</label>
                <input formControlName="type" type="text" placeholder="type" class="form-control mb-3">
            </div>

            <div class="singleInputDiv">
                <label>Price</label>
                <input formControlName="price" type="text" placeholder="price" class="form-control mb-3">
            </div>

            @if(EditUnitForm.get('status')?.value === 'busy'){
            <div  class="singleInputDiv">
                <input formControlName="renterSSN" type="text" placeholder="Renter SSN" class="form-control mb-3">
            </div>
            }
            
            </div>

            <div class="halfFormSide">
                @if(existingImages.image1)
            {
            <div class="singleInputDiv" >
                <label>Current Image 1</label>
                <img [src]="existingImages.image1" width="100">
                <input formControlName="image1" type="file" (change)="onFileSelected($event, 'image1')" class="form-control mb-3">
            </div>
            }


            @if(existingImages.image2)
            {
            <div class="singleInputDiv" >
                <label>Current Image 2</label>
                <img [src]="existingImages.image2" width="100">
                <input formControlName="image2" type="file" (change)="onFileSelected($event, 'image2')" class="form-control mb-3">
            </div>
            }

            @if(existingImages.image3)
            {
            <div class="singleInputDiv" >
                <label>Current Image 3</label>
                <img [src]="existingImages.image3" width="100">
                <input formControlName="image3" type="file" (change)="onFileSelected($event, 'image3')" class="form-control mb-3">
            </div>
            }
            </div>


        </div>  



        <button [disabled]="!EditUnitForm.valid">Save Changes</button>

    </form>


</div>