.toast-success {
  background-color: rgb(40, 167, 69) !important;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
}
.toast-error {
  background-color: #dc3545 !important;
}
.toast-info {
  background-color: #17a2b8 !important;
}
.toast-container {
  z-index: 999999;
} 