
.navbar {
    background-color: #00395e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-radius: 6px 6px 0 0;
    height: 140px;;
      font-size: 22px;
}



.logo img {
    height: 160px;
}


.nav-links {
    display: flex;
    gap: 20px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    font-size: 28px;
    padding: 11px 50px;
    transition: 0.3s;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

.nav-links a:hover {
  color: #00385e;
    background-color:white;
    border-color: white;
}


.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
      font-size: 28px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav-right a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
