<div class="navbar">
    <div class="logo">
        <img src="images/footerLogo2.png" alt="Logo" />
    </div>

    <div class="nav-links">
        @if(role == 'Renter'){
            <a routerLink="RenterHome">Home</a>
        }
        @if(role == 'Owner')
        {
            <a routerLink="ownerHome">Home</a>
        }

        <a routerLink="ads">Ads</a>
        <a routerLink="review">Reviews</a>

    </div>

    <div class="nav-right">
        @if(isLoggedIn==false)
        {
            <a routerLink="login" class="btn-login">Login</a>
            <a routerLink="register" class="btn-register">Register</a>
        }
        @if(isLoggedIn==true)
        {
            <app-notification-dropdown></app-notification-dropdown>
            <a routerLink="community">Community</a>
            <a (click)="logout()">Logout</a>
        }
    </div>
</div>
