<div class="navbar">
    <div class="logo">
        <img src="images/finalLogo2.png" alt="Logo" />
        <!-- <h2>LIVANA</h2> -->
    </div>
    <div>
        @if(role == 'Renter'){
            <a routerLink="RenterHome">Home</a>
        }
        @if(role == 'Owner')
        {
            <a routerLink="ownerHome">Home</a>
        }

        <a routerLink="ads"> Ads</a>
        <a routerLink="review">Reviews</a>
    </div>
    @if(isLoggedIn==false)
    {
    <div>
            <app-notification-dropdown></app-notification-dropdown>

        <a routerLink="login">Login</a>
        <a routerLink="register">Register</a>
    </div>
    }
    @if(isLoggedIn==true)
    {
    <div>
        <a routerLink="community">Community</a>
        <a (click)="logout()">logout</a>
    </div>
    }
</div>
