<div class="navbar">
  <div class="logo">
    <img src="images/finalLogo2.png" alt="Logo" />
    <!-- <h2>LIVANA</h2> -->
  </div>
  <div>
    <a routerLink="home">Home</a>
    <a routerLink="ads"> Ads</a>
    <a routerLink="review">Reviews</a>
  </div>
  @if(isLoggedIn==false) {
  <div>
    <a routerLink="login">Login</a>
    <a routerLink="register">Register</a>
  </div>
  } @if(isLoggedIn==true) {
  <div class="d-flex ">
    <app-notification-dropdown></app-notification-dropdown>
    <div class="me-2 content-image">
      <img [src]="'http://localhost:5267/Images/' + image"  (click)="ShowDrop()" />
      @if(isShow){
      <ul class="list-group">
          <li class="list-group-item" (click)="navigateToHome()">{{userName}}</li>
          <li class="list-group-item" routerLink="community">Community</li>
          <li class="list-group-item" (click)="logout()">logout</li>
      </ul>}
    </div>
    
  </div>
  }
</div>
