<div class="col-md-12 owner-info">
  <h4>  My Account / <i class="bi bi-person-circle"></i> Profile</h4>
   <hr>
  <div class="mb-4 user-personal">
    <img
      [src]="'http://localhost:5267/Images/' + user?.image"
      [alt]="user?.userName"
      class="profile-img me-3"
    />
    <div>
      <h5 class="mb-0">{{ user?.firstName }} {{user?.lastName}}</h5>
      <p class="text-muted mb-0">{{ user?.email }}</p>
    </div>
  </div>

  <div class="card w-75 personal">
    <div class="card-body">
      <h6 class="mb-3">Personal details</h6>
      <hr>
      <div class="row mb-2">
        <div class="col-md-4"><strong>First name:</strong></div>
        <div class="col-md-8">{{ user?.firstName }}</div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-md-4"><strong>Last name:</strong></div>
        <div class="col-md-8">{{ user?.lastName }}</div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-md-4"><strong>User name:</strong></div>
        <div class="col-md-8">{{ user?.userName }}</div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-md-4"><strong>Phone Number:</strong></div>
        <div class="col-md-8">{{ user?.phoneNumber }}</div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-md-4"><strong>Email:</strong></div>
        <div class="col-md-8">{{ user?.email }}</div>
      </div>
    </div>
  </div>
</div>
