<div class="resetPassword">
  <div class="content">
    <div class="title">Reset Password</div>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
      <!-- Password Field -->
      <div class="form-group password-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="New password"
          class="form-control"
        />
        <i
          (click)="togglePassword()"
          [class]="'bi ' + (showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill')"
          class="password-toggle"
        ></i>
        @if(password?.errors && password?.touched){
        <div class="error-message">
          @if(password?.hasError('required')){ Password is required }
          @if(password?.hasError('pattern')){ Password must be at least 8
          characters long, include uppercase, lowercase, number, and special
          character. }
        </div>
        }
      </div>

      <!-- Submit Button -->
      <div class="form-actions">
        @if(!loading){
        <button type="submit" class="btn btn-primary">
         Save
        </button>
        } @if(loading){
        <button class="btn btn-primary" type="button" disabled>
          <span
            class="spinner-grow spinner-grow-sm me-2"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        }
      </div>
    </form>
  </div>
</div>
