/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.toast-success {
  background-color: rgb(40, 167, 69) !important;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
}
.toast-error {
  background-color: #dc3545 !important;
}
.toast-info {
  background-color: #17a2b8 !important;
}
.toast-container {
  z-index: 999999;
} 
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
}
