@if(unit){
    <div class="container me-auto mt-3 ">
       <div class="row content">
          <div class="col-4 slider-image">
            <div>
              <img  [src]="'http://localhost:5267/Images/' + currentImage" alt="Image" />
            </div>
            <div class="slider-controls">
             <button (click)="prevImage()"><i class="bi bi-arrow-left-circle-fill"></i></button>
             <button (click)="nextImage()"><i class="bi bi-arrow-right-circle-fill"></i></button>
            </div>
          </div>
          <div class="col-8">
             <p><strong>Status:</strong> {{ unit.status }}</p>
             <p><strong>Type:</strong> {{ unit.type }}</p>
             <p><strong>Price:</strong>{{unit.price}}</p>
             <p><strong>Description:</strong>{{unit.description}}</p>
             <div class="row">
               @if(unit.street){
                <p class="col-6"><strong>Street:</strong>{{unit.street}}</p>
               }
               @if(unit.area){
                <p class="col-6"><strong>Area:</strong>{{unit.area}}</p>
               }
             </div>
             <div class="row">
              @if(unit.flatNumber){
                <p class="col-6"><strong>FlatNumber:</strong>{{unit.flatNumber}}</p>
               }
               @if(unit.buildingNumber){
                <p class="col-6"><strong>BuildingNumber:</strong>{{unit.buildingNumber}}</p>
               }
             </div>
          </div>
       </div>
       <div class="edit-btn">
         <button><i class="bi bi-pencil"></i> Edit</button>
       </div>
    </div>
}@else{
  <p>Loading.........</p>
}
