.content {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px 30px;
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  position: relative;
  animation: fadeSlideIn 0.6s ease-in-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 300px;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.03);
    }
  }

  .slider-controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    button {
      outline: none;
      border: none;
      border-radius: 50%;
      padding: 5px 8px;
      background-color: transparent;

      i {
        color: #3a74b3;
        font-size: 22px;
      }
    }
  }
}

.edit-btn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  left: 2px;
  animation: bounceIn 0.7s ease;

  button {
    outline: none;
    border: none;
    background-color: #3a74b3;
    padding: 2px 5px;
    color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background-color:  #2a5a93;
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
