<div class="sendEmail">
  <div class="content">
    <div class="title">Request to reset password</div>
    <form [formGroup]="EmailForm" (ngSubmit)="SendEmail()">
      <!-- Email Field -->
      <div class="form-group">
        <input
          type="text"
          formControlName="email"
          placeholder="Email"
          class="form-control"
        />
        @if(email?.errors && email?.touched){
        <div class="error-message">
          @if(email?.hasError('required')){ Email is required }
          @if(email?.hasError('email')){ Email invalid }
        </div>
        }
      </div>

      <!-- Submit Button -->
      <div class="form-actions">
        @if(!loading){
        <button type="submit" class="btn btn-primary">Send</button>
        } @if(loading){
        <button class="btn btn-primary" type="button" disabled>
          <span
            class="spinner-grow spinner-grow-sm me-2"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        }
      </div>
    </form>
  </div>
</div>
