<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="images/footerLogo2.png" alt="Logo" />
        </div>
        <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">Ads</a>
            <a href="#">Reviews</a>
        </div>
        <div class="footer-contact">
            <p>Contact us: <a href="mailto:info@livana.com">info&#64;livana.com</a></p>
            <div class="footer-social">
            <!-- <a href="#"><img src="images/facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="images/twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="images/instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="images/linkedin-icon.png" alt="LinkedIn"></a> -->
        </div>
        </div>
        <div class="footer-terms">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <!-- <a href="#">Cookie Policy</a> -->
            <a href="#">Accessibility</a>
        </div>
    </div>
    <p>&copy; 2025 Livana. All rights reserved.</p>
</footer>
