footer{
    background-color: #3a74b3;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    margin:0;
    /* margin-top: 50px;  */
}
.footer-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.footer-logo {
    width: 150px;
    
    border-radius: 50%;
}
.footer-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.footer-text {
    margin-top: 10px;
    font-size: 14px;
}
.footer-text a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 10px;
    margin-top: 10px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 10px;
    margin-top: 10px;

}
.footer-contact p{
    margin-bottom: 0;
}
.footer-terms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:self-start;
    gap: 10px;
    margin-top: 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.footer-social div{
    position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #598fca;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(58, 116, 179, 0.2);
}
.footer-social i{
  font-size: 1.2rem;
}
